FORMAT: 1A
HOST: http://server.v2.orz.chat/

# V2Orz-Server

V2Orz Server is a Database & Content backend for Project V2Orz  
Author: [Jabasukuriputo Wang](https://github.com/wfjsw) 


## Server Info [/server.manifest]

### Get Current Info Data [GET]

This function returns the basic informations of this server. 
This is a static file and cache should always be enabled.

+ Response 200 (application/json)

       {
             "hostname": "clara.server.v2.orz.chat",
             "name": "clara",
             "admin": "unknown"        
       }


# Group End Users

## Node List [/node/{scope}]

### Get List of All Nodes [GET]

+ Parameters
    + scope (string, `all`) ... list 'all' nodes.

+ Model (application/json)

    [
        {
            "ID": "tech",
            "Fullname": "Technology",
            "Avatar": "<sha256 of avatar in UGC>",
            "upstream": ["<parent node>"]
        }
    }

### Get the Info of 1 Node [GET]

+ Parameters
    + scope (string, `tech`) ... get 'tech' nodes.

+ Model (application/json)

    {
        "ID": "tech",
        "Fullname": "Technology",
        ¡°Description": "blah blah blah",
        "Avatar": "<sha256 of avatar in UGC>",
        "Sidebar": "<sha256 of sidebar data in UGC>",
        "upstream": ["<parent node>"]
    }

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }